.list {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    gap: 0 5%;
    border: 1px solid #d0d6de ;
    border-radius: 6px;
}

.head {
    background-color: #d0d6de;
    padding: 0 15px;
}